@model TrainingSystem.Models.ActivateRoadForGroupViewModel
@{
    ViewBag.Title = "Activate Road For Group";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ActivateRoadForGroup", "Community", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Activate Road @Model.Road.Name For Group @Model.TrainingGroup.Name</h4>
    <hr />

    <table class="table">
        <tbody>
            @Html.EditorFor(p => p.RoadForGroupMembers)
        </tbody>
    </table>

    @Html.HiddenFor(m => m.RoadId)
    @Html.HiddenFor(m => m.TrainingGroupId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}