@model TrainingSystem.Models.CommunityMainViewModel
@{
    ViewBag.Title = "Community";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="jumbotron">
    @{
        if (Model.ReviewsToDo.Count > 0)
        {
            <h4>Reviews To Do</h4>
            <table class="table">
                <tbody>
                    @foreach (var exerciseReview in Model.ReviewsToDo)
                    {
                        <tr>
                            <td>@exerciseReview.StudentExercise.StepExercise.Name</td>
                            <td>@exerciseReview.StudentExercise.FinishExerciseComment</td>
                            <td>
                                @Html.ActionLink("Review", "DoReview", "Community", new { @id = exerciseReview.Id }, new {})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No reviews to do yet!</p>
        }
    }
    <hr/>
    @{
        if (Model.ReviewsReceived.Count > 0)
        {
            <h4>Reviews Received</h4>
            <table class="table">
                <tbody>
                    @foreach (var exerciseReview in Model.ReviewsReceived)
                    {
                        <tr>
                            <td>@exerciseReview.StudentExercise.StepExercise.Name</td>
                            <td>@exerciseReview.StudentExercise.FinishExerciseComment</td>
                            <td>
                                @Html.ActionLink("View", "ViewReview", "Community", new { @id = exerciseReview.Id }, new { })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No reviews received yet!</p>
        }
    }
    <hr />
    @{
        if (Model.TrainingGroups.Count > 0)
        {
            <h4>Training Groups</h4>
            <table class="table">
                <tbody>
                    @foreach (var trainingGroup in Model.TrainingGroups)
                    {
                        <tr>
                            <td>@trainingGroup.Name</td>
                            <td>@trainingGroup.Description</td>
                            <td>
                                @Html.ActionLink("Edit", "EditGroup", "Community", new { @id = trainingGroup.Id }, new { })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No training groups created yet!</p>
        }
    }
    @Html.ActionLink("Add Training Group", "EditGroup")
</div>