@model TrainingSystem.Models.DoReviewViewModel
@{
    ViewBag.Title = "View Review";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h3>
        @Model.Review.StudentExercise.StepExercise.Name
    </h3>
    <div style="padding-left: 20px; font-size: 14px;">
        @Html.Raw(@Model.Review.StudentExercise.StepExercise.Description)
    </div>
    <hr/>

    <a href="/ExerciseSolution/@Model.Review.StudentExercise.FinishExerciseFileName" target="_blank" class="btn btn-primary btn-lg">Download the solution that you uploaded for review</a>
    <hr/>

    @if (Model.HasGraduated)
    {
        <p class="text-success">
            You graduated this road step!
        </p>
    }
    else
    {
        <p  class="text-danger">
            You did not graduate this road step yet, please review the feedback below and try again!
        </p>
    }
    <div style="padding-left: 20px;">@Html.Raw(Model.ReviewContent)</div>

</div>