@using TrainingSystem.Entities
@using TrainingSystem.Models
@model TrainingSystem.Models.StepResourceRating

<tr>
    <td style="width: 700px; padding-bottom: 20px;">
        <p><a href="@Model.Name">@Model.Name</a></p>
        <p style="font-size: 12px;">@Model.Description</p>
        @Html.HiddenFor(p => p.Id)
    </td>
    <td>
        
        @Html.RadioButtonFor(p => p.RatingValue, RatingValue.Bad) Bad
        @Html.RadioButtonFor(p => p.RatingValue, RatingValue.Medium) Medium
        @Html.RadioButtonFor(p => p.RatingValue, RatingValue.Good) Good
    </td>
</tr>

