@using TrainingSystem.Entities
@model TrainingSystem.Models.RateStepContentViewModel
@{
    ViewBag.Title = "";
}

<p class="text-success">@ViewBag.StatusMessage</p>

    <div class="jumbotron">
        <h2>
            Rate resorces for @Model.RoadStep.Name
        </h2>
<p>@Model.RoadStep.Description</p>
    <hr/>
        @using (Html.BeginForm("RateStepResource", "Learn", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.RoadStepId)
            <table>
                @Html.EditorFor(x => x.StepResourceRatings)
            </table>

            <hr />
            <p>Was there any topic that you encountered in the resources which was not easy enough to understand, or which was not covered well enough?</p>
            @Html.TextAreaFor(p => p.Comment)
            <hr/>
            <input type="submit" value="Send feedback" class="btn btn-primary btn-lg" />
        }

</div>